[submodule "periscope"]
	path = periscope
	url = git://github.com/kktuax/periscope.git
[submodule "pafy"]
	path = pafy
	url = git://github.com/kktuax/pafy.git
[submodule "vlc"]
	path = vlc
	url = https://github.com/geoffsalmon/vlc-python.git
